<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="emailFrom" value="Some.Machine@domain.com" />
		<add key="emailTo" value="&lt;user.1@domain.com>,&lt;user.2@domain.com>" />
		<add key="emailHost" value="domain.mail.protection.outlook.com" />
		<add key="emailPort" value="25" />
	</appSettings>
</configuration>
